<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Botones Agregar</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="botonesAgregarTodo" class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="btn btn-secondary d-grid col-5 mx-auto"
                           data-bs-toggle="modal" data-bs-target="#agregarTodo">
                            <i class="fas fa-plus"></i> [[#{accion.agregarTodo}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="botonesAgregarFolder" class="py-4 mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a href="#" class="btn btn-primary d-grid col-5 mx-auto"
                           data-bs-toggle="modal" data-bs-target="#agregarFolder">
                            <i class="fas fa-plus"></i> [[#{accion.agregarFolder}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
