<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Edit Folder</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="editarFolder">
            <form th:action="@{/guardarFolder}" th:object="${folder}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idFolder" th:field="*{idFolder}">
                <section th:replace="layout/botonesEditar :: botonesEditarFolder"></section>
                <div id="details">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-header">
                                    <h4>[[#{accion.editar}]]</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="folder">[[#{carpeta.nombre}]]</label>
                                        <input type="text" class="form-control" name="folder" 
                                               required="true" th:field="*{folder_name}"/>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>
