<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Task List</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="listadoFolder">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-ms-3">
                            <div class="card">
                                <div class="card-header">
                                    <h4>[[#{carpeta.titulo}]]</h4>
                                </div>
                                <div th:if="${folder != null and !folder.empty}">
                                    <table class="table table-stryped">
                                        <thead class="table-dark">
                                            <tr>
                                                <th th:text="#{carpeta.nombre}">Nombre</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="folder, contador : ${folder}">
                                                <td>[[${folder.folder_name}]]</td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/editarFolder/} + ${folder.idFolder}"
                                                       class="btn btn-success">
                                                        <i class="fas fa-angle-double-right"> [[#{accion.editar}]]</i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/eliminarFolder(idFolder=${folder.idFolder})}"
                                                       class="btn btn-danger">
                                                        <i class="fas fa-angle-double-right"> [[#{accion.eliminar}]]</i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/verTodo/} + ${folder.idFolder}"
                                                       class="btn btn-success">
                                                        <i class="fas fa-angle-double-right"> [[#{accion.items}]]</i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center p-2" th:if="${folder == null or todo.empty}">
                                    <span th:text="#{carpeta.vacia}">Lista Vacia</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </body>
</html>
